* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	width: 100%;
	background-color: #F4F8F9;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar {
	width: 6px;
	height: 0;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
	background-color: #666666;
	border-radius: 3px;
}
.mxx-box {
	width: 100%;
}
.mxx-box .mxx-form-box {
	width: 100%;
	height: 80px;
	position: relative;
}
.mxx-box .mxx-form-box .mxx-add-new {
	width: 86px;
	height: 34px;
	background-color: #fff;
	border-radius: 3px;
	cursor: pointer;
	line-height: 34px;
	color: #323C47;
	text-align: center;
	position: absolute;
	right: 30px;
	top: 23px;
	background-image: url('../../image/6-1.png');
	background-repeat: no-repeat;
	background-size: 13px;
	background-position: 10px 10px;
}
.mxx-box .mxx-form-box .mxx-add-new:hover {
	background-image: url('../../image/6.png');
}
.mxx-box .mxx-form-box .mxx-form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 146px;
}
.mxx-box .mxx-form-box .mxx-form form {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 20px;
}
.mxx-box .mxx-form-box .mxx-form form .layui-form-item,
.mxx-box .mxx-form-box .mxx-form form .layui-form-item .layui-inline {
	width: 100%;
}
.layui-form-item .layui-inline {
	margin: 0;
}
.mxx-box .mxx-form-box .mxx-form .mxx-form-input {
	width: 50%;
	padding-left: 40px;
	box-sizing: border-box;
	position: relative;
}
.mxx-box .mxx-form-box .mxx-form .mxx-form-select {
	width: 10%;
}
.mxx-box .mxx-form-box .mxx-form .mxx-form-input i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../../image/3-1.png') no-repeat;
	background-size: 20px 20px;
	position: absolute;
	top: 10px;
	left: 20px;
	cursor: pointer;
}
.mxx-box .mxx-form-box .mxx-form .mxx-form-input input {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #ececec;
	font-size: 16px;
}
.mxx-table {
	width: 100%;
	background: #F4F8F9;
	box-sizing: border-box;
}
.mxx-table .mxx-thead {
	width: 100%;
	height: 58px;
}
.mxx-tbody li {
	box-shadow: 0 0 4px #fff;
	zoom: 1;
}
.mxx-tbody li:hover {
	background: #EBEFF5;
}
.mxx-tbody li:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.mxx-thead li>span,
.mxx-tbody li>span {
	height: 58px;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 58px;
	text-align: center;
	border-right: 1px solid rgba(255, 255, 255, 0.59);
	border-bottom: 1px solid rgba(255, 255, 255, 0.59);
}
.mxx-thead li>span {
	background: #546478;
	color: #FFFFFF;
}
.mxx-tbody li>span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mxx-thead li>span:nth-child(1),
.mxx-tbody li>span:nth-child(1) {
	width: 18.3%;
}
.mxx-thead li>span:nth-child(2),
.mxx-tbody li>span:nth-child(2) {
	width: 60%;
}
.mxx-thead li>span:nth-child(3),
.mxx-tbody li>span:nth-child(3) {
	width: 21.5%;
	border-right: none;
}
.mxx-tbody li>span.mxx-button-box>span {
	font-size: 14px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.mxx-tbody li>span.mxx-button-box>span+span {
	margin-left: 10px;
}
.mxx-tbody li span.mxx-button-box>span:nth-child(1) {
	color: #3EC379;
}
.mxx-tbody li span.mxx-button-box>span:nth-child(2) {
	color: #007AFF;
}
.mxx-tbody li span.mxx-button-box>span:nth-child(3) {
	color: #999999;
}

.mxx-paging {
	height: 40px;
}








.mxx-layer-form {
	width: 100%;
}

.mxx-layer-form>div {
	width: 100%;
	height: 30px;
	margin-top: 20px;
}

.mxx-layer-form>div p {
	float: left;
}

.mxx-layer-form>div p:nth-child(1) {
	width: 20%;
	text-align: right;
	margin-right: 5%;
}

.mxx-layer-form>div p:nth-child(2) {
	width: 70%;
}
.mxx-textarea {
	resize: none;
}

.layui-input {
	margin-left: 0;
}
