<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.account.ResourceRefRoleMapper">
  <resultMap id="base" type="com.admin.model.account.ResourcesRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="resources_id" jdbcType="BIGINT" property="resourcesId" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="sort_weight" jdbcType="BIGINT" property="sortWeight" />
    <result column="status" jdbcType="BIGINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="pk">
    id
  </sql>
  <sql id="fields">
    id,role_id,resources_id,is_delete,sort_weight,status,create_time,modify_time,update_time
  </sql>
  <sql id="fields_add_pre">
    t.id,t.role_id,t.resources_id,t.is_delete,t.sort_weight,t.status,t.create_time,t.modify_time,t.update_time
  </sql>
  <sql id="table">
    admin_resource_ref_role
  </sql>
  <sql id="table_add_alias">
    admin_resource_ref_role t
  </sql>
  <sql id="equalPk">
    WHERE id = #{pk}
  </sql>
  <sql id="equalPkField">
    WHERE id = #{id}
  </sql>
  <sql id="fieldsCondition">
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="resourcesId != null">
        resources_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="sortWeight != null">
        sort_weight,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
  </sql>
  <sql id="valuesCondition">
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="resourcesId != null">
        #{resourcesId},
      </if>
      <if test="isDelete != null">
        #{isDelete},
      </if>
      <if test="sortWeight != null">
        #{sortWeight},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="modifyTime != null">
        #{modifyTime},
      </if>
    </trim>
  </sql>
  <sql id="equalCondition">
    <where>
      <if test="id != null">
        id=#{id}
      </if>
      <if test="roleId != null">
        AND role_id=#{roleId}
      </if>
      <if test="resourcesId != null">
        AND resources_id=#{resourcesId}
      </if>
      <if test="isDelete != null">
        AND is_delete=#{isDelete}
      </if>
      <if test="sortWeight != null">
        AND sort_weight=#{sortWeight}
      </if>
      <if test="status != null">
        AND status=#{status}
      </if>
      <if test="createTime != null">
        AND create_time=#{createTime}
      </if>
      <if test="modifyTime != null">
        AND modify_time=#{modifyTime}
      </if>
    </where>
  </sql>
  <sql id="set">
    <set>
      <if test="roleId != null">
        role_id=#{roleId},
      </if>
      <if test="resourcesId != null">
        resources_id=#{resourcesId},
      </if>
      <if test="isDelete != null">
        is_delete=#{isDelete},
      </if>
      <if test="sortWeight != null">
        sort_weight=#{sortWeight},
      </if>
      <if test="status != null">
        status=#{status},
      </if>
      <if test="createTime != null">
        create_time=#{createTime},
      </if>
      <if test="modifyTime != null">
        modify_time=#{modifyTime},
      </if>
    </set>
  </sql>
  <select id="getById" resultMap="base">
            SELECT
        <include refid="fields"/>
        FROM
        <include refid="table"/>
        <include refid="equalPk"/>
  </select>
  <select id="findOne" resultMap="base">
            SELECT
        <include refid="fields"/>
        FROM
        <include refid="table"/>
        <include refid="equalCondition"/>
  </select>
  <select id="findList" resultMap="base">
    SELECT
        <include refid="fields"/>
        FROM
        <include refid="table"/>
         <include refid="equalCondition"></include>
    <if test="offset !=null  and limit !=null">
      limit #{offset},#{limit}
    </if>
  </select>
  <select id="findPage" resultMap="base">
    SELECT
        <include refid="fields"/>
        FROM
        <include refid="table"/>
        <include refid="equalCondition"/>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO
        <include refid="table"/>
        <include refid="fieldsCondition"/>
        <include refid="valuesCondition"/>
  </insert>
  <update id="updateById">
    UPDATE
        <include refid="table"/>
        <include refid="set"/>
        <include refid="equalPkField"/>
  </update>
  <delete id="deleteById">
    DELETE FROM
        <include refid="table"/>
        <include refid="equalPk"/>
  </delete>
  <delete id="delete">
    DELETE FROM
        <include refid="table"/>
        <include refid="equalCondition"/>
  </delete>
  <!--###########################自定义代码区域#############################-->
   <select id="findListCount" parameterType="map" resultType="Integer">
		SELECT 
		count(1) 
		FROM
		<include refid="table"/>
		<include refid="equalCondition"></include>
	</select>
</mapper>